@import "./reset.css";

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.anime-controller {
    height: 40px;
    border-top: 2px solid #333;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-controller .progress {
    width: 90%;
}

.stage {
    flex: 1;
}

.stage .orangutan-ball {
    position: absolute;
    right: 0;
    /* transform: translateX(100%); */
}